* {
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

nav {
    display: flex;
    height: 60px;
    background-color: #0F1111;
    color: antiquewhite;
    align-items: center;
}

.navlogo {
    width: 100px;
    height: 50px;
}


.logo {
    background-image: url(amazonlogo.png);
    background-size: cover;
    margin-left: 10px;
    height: 50px;
    width: 100%;
}

.logo:hover {
    border: 2px solid white;
}


.navadress {
    margin-left: 25px;
    width: 160px;
    height: 50px;
    justify-items: center;
}

.navadress:hover {
    border: 2px solid white;
}

.place {
    font-size: 1rem;
    margin-top: 0px;
    margin-left: 10px
}


.country {

    display: flex;
    font-size: 16px;
    font-weight: bold;
}

.country1 {

    margin-left: 5px;
}

.Search {
    width: 44vw;
}

.Searchbar {
    border: 4px solid rgb(230, 99, 11);
    border-radius: 5px;
    margin-left: 20px;
    display: flex;
    width: 760px;
    height: 40px;
}

.searchicon {
    display: flex;
    background-color: rgb(240, 162, 8);
    width: 40px;
    border: none;
    justify-content: center;
    align-items: center;

}

.drop {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 55px;
    border: none;

    background-color: rgb(204, 225, 223);
}

.Accounts {
    margin-left: 35px;
}

.Accounts:hover {
    border: 2px solid white;
}

.sign {
    font-size: small;
}

.listo {
    font-weight: bold;
}

.replace {
    width: 80px;
    height: 50px;
    margin-left: 45px;
}

.replace:hover {
    border: 2px solid white;
}

.retu {
    margin-top: 10px;
    font-size: x-small;
}

.order {
    font-weight: bold;
}

.carts {
    display: flex;
    width: 80px;
    height: 50px;
    margin-left: 45px;
    justify-items: center;
}

.carts:hover {
    border: 2px solid white;
}

.cartlogo {
    margin-top: 5px;
    font-size: xx-large;
}

.cart {
    margin-top: 20px;

}

.panel {
    background-color: #232f3e;
    color: white;
    padding: 10px 20px;
}

.panel ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.panel li {
    margin-right: 20px;
    cursor: pointer;
    font-size: 14px;
}

.sbox {
    margin-left: 10px;
}

.productsection {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgb(250, 249, 249);
    width: 100%;
    background-color: rgba(126, 185, 185, 0.426);
}

.box {
    border: 2px solid rgb(252, 252, 252);
    margin-top: 30px;
    width: 23vw;
    height: 62vh;
    margin-left: 15px;
    background-color: white;
}

.prohead {
    font-size: larger;
    color: black;
    font-weight: bolder;
    margin-top: 5px;
    margin-left: 20px;

}

.fit {
    margin-top: 10px;
    margin-left: 5px;
    width: 22vw;
    height: 50vh;
    background-image: url(Fitness\ Journey.jpg);
    background-size: cover;

}

.Phn {
    margin-top: 10px;
    margin-left: 5px;
    width: 22vw;
    height: 50vh;
    background-size: cover;

}

.fridge {
    margin-top: 10px;
    margin-left: 5px;
    width: 22vw;
    height: 50vh;
      background-size: cover;
}

.scooty {
    margin-top: 10px;
    margin-left: 5px;
    width: 22vw;
    height: 50vh;
    background-image: url(Scooter.jpg);
}

.kitchen {
    margin-top: 10px;
    margin-left: 5px;
    width: 22vw;
    height: 52vh;
    background-position: center;
    background-size: cover;
 
}

.happilo {
    margin-top: 10px;
    margin-left: 5px;
    width: 22vw;
    height: 50vh;
   background-position: center;
    background-size: cover;
}

.loud {
    margin-top: 10px;
    margin-left: 5px;
    width: 22vw;    
    height: 50vh;
    background-size: contain;
   
}

.cloth {
    margin-top: 10px;
    margin-left: 5px;
    width: 22vw;
    height: 50vh;
    background-size: cover;
}
.footer {
  background-color: #232f3e;
  color: white;
  font-family: Arial;
  padding: 40px 20px;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 40px;
  border-bottom: 1px solid #434f60;
}

.footer-column {
  flex: 1;
  min-width: 220px;
  margin: 10px 0;
}

.footer-column h4 {
  color: white;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  margin: 8px 0;
}

.footer-column a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-column a:hover {
  text-decoration: underline;
  color: white;
}


 @media (max-width: 768px) {
   nav {
     display: flex;
     flex-wrap: nowrap;
     align-items: center;
     height: 56px;
     padding: 6px 8px;
     overflow: hidden;
   }

   .navlogo {
     width: 90px;
     height: 40px;
     flex-shrink: 0;
   }

   .logo {
     width: 100%;
     height: 100%;
     background-size: contain;
     background-repeat: no-repeat;
   }

   .Searchbar {
     flex: 1;
     display: flex;
     width: auto;
     max-width: none;
     margin-left: 8px;
     height: 40px;
   }

   .Search {
     width: 100%;
   }

   .navadress,
   .Accounts,
   .replace,
   .carts {
     display: none;
   }

   .panel ul {
     justify-content: center;
     flex-wrap: wrap;
   }

   .panel li {
     font-size: 12px;
     margin: 6px 8px;
   }

   .carousel-inner img {
     height: 180px;
     object-fit: cover;
   }

   .productsection {
     justify-content: center;
   }

   .box {
     width: 48%;
     height: auto;
     margin: 10px 5px;
   }

   .image {
     width: 100%;
     height: 200px;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
   }

   .footer-top {
     flex-direction: column;
     align-items: center;
     text-align: center;
   }

   .footer-column {
     margin-bottom: 25px;
   }
 }

 @media (max-width: 480px) {

   .box {
     width: 95%;
   }

   .carousel-inner img {
     height: 340px;
   }

   .image {
     height: 220px;
   }
 }

